@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Antonio:wght@100..700&family=Share+Tech&family=Teko:wght@300..700&display=swap');
@import 'tailwindcss';

@theme{
    --color-yellow: #fce89a;
    --font-Antonio: "Antonio", sans-serif;
    --font-Anton: "Anton", sans-serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, p {
  @apply my-0;
}


@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav{
        @apply w-full mx-auto fixed my-3 z-50;
    
        div{
            @apply flex flex-col md:flex-row gap-2 justify-between;

            p{
                @apply text-4xl  md:ml-25 my-2 font-bold font-Anton text-center;
            }

            ul{
                @apply flex flex-row gap-5 md:gap-10 mx-5 my-2 justify-center;

            }
        }
    }  
    
    #home{
        @apply w-full relative z-10 min-h-dvh;

         .title{
            @apply flex flex-col justify-center my-25 mt-30 md:mt-15 ;

            h1{
                @apply text-6xl md:text-[200px] leading-none  text-yellow-200 font-black text-center my-0 font-Anton ;
            }
            p{
                @apply text-xl md:text-2xl max-w-sm mx-auto md:max-w-full text-center tracking-[0.1em] my-0 py-0 font-Antonio;
            }
         }

         .subtitle{
            @apply  my-85 md:my-0 md:absolute flex flex-col text-center max-w-sm mx-auto md:text-right md:w-25/100 md:right-0 md:bottom-30 md:mx-5 ;

            h2{
                @apply  text-3xl mb-2 font-medium font-Antonio;
            }

            p{
                @apply text-xl md:text-2xl font-Antonio;
            }
         }

         .side{
            

            h2{
                @apply opacity-0 md:opacity-15  absolute rotate-[-90deg] origin-left font-Anton text-yellow-300 text-[290px] leading-none font-black -bottom-25 left-35 w-fit mx-0;
            }
            div{
                @apply opacity-0 md:opacity-100 absolute rotate-[-90deg]  origin-left font-Antonio flex flex-row justify-evenly items-center text-3xl bg-black bottom-0 left-11 w-[800px] py-2 border-2 rounded-4xl; 
            }
         }

    }

    video{
        @apply fixed top-0 left-0 w-full h-full scale-150 md:scale-100 md:object-cover;
    }

    #about{
        @apply relative min-h-dvh w-full overflow-hidden py-10;

        .main{
            @apply absolute top-1/8 md:top-1/4 flex flex-row ml-10 ;

            h2{
                @apply text-5xl md:text-8xl font-Anton text-yellow;
            }

            .sub{
                @apply flex flex-col md:mt-2 mx-2;

                .sub-one{
                    @apply font-Antonio text-xl md:text-3xl;
                }

                .sub-two{ 
                    @apply font-Antonio text-xl md:text-4xl;
                }
            }
        }

        .about{
            @apply absolute flex flex-col z-10 md:gap-2 right-0 top-1/3 md:top-1/4 md:w-1/4 h-full text-center md:text-right md:mr-5;

            h2{
                @apply text-6xl md:text-8xl font-Anton md:text-yellow mb-2;
            }

            .desc-one{
                @apply inline-block bg-[#0000004D] text-3xl font-Antonio py-2 pr-2 rounded-lg;
            }

             .desc-two{
                @apply inline-block bg-[#00000066] text-gray-400 text-3xl font-Antonio py-2 px-2 rounded-lg;
            }
        }

        .design{
            @apply text-center md:absolute right-0 z-0 top-0;

            h2{
                @apply font-Anton text-[190px] leading-none text-yellow opacity-8 md:opacity-20;
            }
        }
    }

    #spec{
        @apply relative min-h-dvh w-full overflow-hidden flex flex-col; 

        .cover{
            @apply flex justify-center items-center object-cover min-h-dvh w-full bg-black rounded-3xl opacity-58;

            p{
                @apply opacity-50 md:opacity-18 font-Anton text-9xl md:text-[420px] leading-none text-yellow;
            }
        }

        .spec-container{
            @apply flex flex-row justify-evenly;

            .spec-item{
                @apply absolute md:static flex flex-col;

                h2{
                    @apply font-Antonio text-gray-400 text-2xl md:text-4xl mb-1;
                }
                .spec-value{
                    @apply flex flex-row items-end;

                    h2{
                        @apply font-Anton text-5xl md:text-8xl text-white;
                    }

                    p{
                        @apply font-Antonio text-2xl md:text-4xl pb-2 pl-1;
                    }
                }
            }

            .power{
                @apply md:absolute top-1/8 md:top-1/6 left-5 md:left-1/5
            }

            .speed{
                @apply md:absolute top-1/8 md:top-1/12 md:ml-5
            }

            .hundred{
                @apply md:absolute top-1/8 md:top-1/6 right-5 md:right-1/5
            }

        }
        .main{
            @apply opacity-0 md:opacity-100 absolute top-1/3 left-7/16 flex flex-row;

            h2{
                @apply text-5xl font-Anton text-yellow;
            }

            .sub{
                @apply flex flex-col -mt-1 mx-2;

                .sub-one{
                    @apply font-Antonio text-xl;
                }

                .sub-two{
                    @apply font-Antonio text-xl;
                }
            }
        }

        .desc{
            @apply relative h-full md:max-w-7xl md:mx-auto bottom-75 mx-5 ;

            p{
                 @apply  font-Antonio text-2xl md:text-3xl text-center bg-[#00000066] rounded-lg;
            }
           
        }

        .banner{
            @apply relative flex flex-row bottom-60 justify-evenly gap-10 md:gap-0 bg-black py-2 border-y-2;

            p{
                @apply font-Antonio text-xl;
            }
        }

    }

    #contact {
        @apply relative min-h-dvh w-full overflow-hidden px-10;

        .cover{
            @apply bg-[#00000041] absolute left-0 flex object-cover w-full h-full  justify-center items-center z-0;
            p{
                @apply hidden md:block font-Anton opacity-12 text-[450px] leading-none text-yellow;
            }
        }

        .container {
            @apply max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 items-start md:gap-80;
        

            .form {
                @apply bg-[#000000e4] p-8 rounded-4xl shadow h-fit  mt-20 z-10 border-1 border-yellow; 

                h2 {
                @apply font-Anton text-5xl font-bold mb-6 text-yellow text-center;
                }

                form {
                div {
                    @apply mb-5;

                    label {
                    @apply block text-white font-Antonio text-lg mb-2;
                    }

                    input,
                    textarea {
                    @apply w-full border border-[#13131338] p-3 rounded-lg text-white bg-[#262525] focus:outline-none focus:ring-2 focus:ring-yellow;
                    }

                    textarea {
                    @apply resize-none;
                    }
                }

                button {
                    @apply bg-yellow text-black font-bold py-3 px-6 rounded-lg hover:bg-yellow-300 transition w-full;
                }
                }
            }

            .info {
                @apply hidden md:block bg-[#0000007b] p-8 rounded-2xl shadow w-full h-fit mt-20 z-20;

                h2 {
                    @apply text-5xl font-bold mb-6 font-Anton text-white;
                }

                p {
                    @apply text-[#c8c6c6] font-Antonio text-2xl leading-relaxed;
                }
            }
        }
    }

}