@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Antonio:wght@100..700&family=Share+Tech&family=Teko:wght@300..700&display=swap');
@import 'tailwindcss';

@theme{
    --color-yellow: #fce89a;
    --font-Antonio: "Antonio", sans-serif;
    --font-Anton: "Anton", sans-serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, p {
  @apply my-0;
}


@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav{
        @apply w-48/50 fixed my-3 z-50;
    
        div{
            @apply flex flex-row gap-2 justify-between;

            p{
                @apply text-4xl ml-25 my-2 font-bold font-Anton;
            }

            ul{
                @apply flex flex-row gap-10 mx-2 my-2;

            }
        }
    }  
    
    #home{
        @apply w-full relative z-10 min-h-dvh;

         .title{
            @apply flex flex-col justify-center mt-15 ;

            h1{
                @apply text-[200px] leading-none  text-yellow-200 font-black text-center my-0 font-Anton ;
            }
            p{
                @apply text-2xl text-center tracking-[0.1em] my-0 py-0 font-Antonio;
            }
         }

         .subtitle{
            @apply absolute flex flex-col text-right w-25/100 right-0 bottom-30 mx-5 ;

            h2{
                @apply text-3xl mb-2 font-medium font-Antonio;
            }

            p{
                @apply text-2xl font-Antonio;
            }
         }

         .side{
            

            h2{
                @apply opacity-15  absolute rotate-[-90deg] origin-left font-Anton text-yellow-300 text-[290px] leading-none font-black -bottom-25 left-35 w-fit mx-0;
            }
            div{
                @apply absolute rotate-[-90deg]  origin-left font-Antonio flex flex-row justify-evenly items-center text-3xl bg-black bottom-0 left-11 w-[800px] py-2 border-2 rounded-4xl; 
            }
         }

    }

    video{
        @apply fixed top-0 left-0 w-full h-full object-cover;
    }

    #about{
        @apply relative min-h-dvh w-full overflow-hidden py-10;

        .cover{
            @apply object-cover min-h-dvh w-full bg-black rounded-3xl opacity-58;
        }

        .main{
            @apply absolute top-1/4 flex flex-row ml-10 ;

            h2{
                @apply text-8xl font-Anton text-yellow;
            }

            .sub{
                @apply flex flex-col mt-2 mx-2;

                .sub-one{
                    @apply font-Antonio text-3xl;
                }

                .sub-two{
                    @apply font-Antonio text-4xl;
                }
            }
        }

        .about{
            @apply absolute flex flex-col z-10 gap-2 right-0 top-1/3 w-1/4 h-full text-right mr-5;

            h2{
                @apply text-8xl font-Anton text-yellow mb-2;
            }

            .desc-one{
                @apply inline-block bg-[#0000004D] text-3xl font-Antonio py-2 pr-2 rounded-lg;
            }

             .desc-two{
                @apply inline-block bg-[#00000066] text-gray-400 text-3xl font-Antonio py-2 px-2 rounded-lg;
            }
        }

        .design{
            @apply absolute right-0 z-0 top-0;

            h2{
                @apply font-Anton text-[190px] leading-none text-yellow opacity-20;
            }
        }
    }

    #spec{
        @apply opacity-15 relative min-h-dvh w-full overflow-hidden bg-amber-400;
    }

    #contact{
        @apply opacity-15 relative min-h-dvh w-full overflow-hidden  bg-amber-700;
    }
}